//@font-face {
//  font-family: 'Playfair';
//  src: url('/public/fonts/Playfair/Playfair-VariableFont_opsz,wdth,wght.ttf') format('truetype');
//  font-weight: 300 900;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Playfair';
//  src: url('/public/fonts/Playfair/Playfair-Italic-VariableFont_opsz,wdth,wght.ttf') format('truetype');
//  font-weight: 300 900;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Lora';
//  src: url('/public/fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
//  font-weight: 400 700;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Lora';
//  src: url('/public/fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
//  font-weight: 400 700;
//  font-style: italic;
//  font-display: swap;
//}

@font-face {
  font-family: 'Merriweather';
  src: url('/public/fonts/Merriweather/Merriweather-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/public/fonts/Merriweather/Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Mono';
  src: url('/public/fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
